<app-header (menuDesplegableEvent)="snav.toggle();"></app-header>  
<mat-sidenav-container class="sidenav-container">
    
    <mat-sidenav #snav (click)="snav.close();" mode="push" class="sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/app/dashboard">Dashboard</a>
            <a mat-list-item routerLink="/app/usuarios">Usuarios</a>
            <a mat-list-item routerLink="/app/posiciones">Posiciones</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="container-sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>