<app-cargando *ngIf="estaCargando"></app-cargando>
<app-tabla *ngIf="!estaCargando" [data]="datos" [columnas]="columnas" [titulosDeColumnas]="titulosDeColumnas"
    [cantidadRegistros]="cantidadRegistros" [cantidadPaginas]="cantidadPaginas"></app-tabla>