<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="columna" *ngFor="let columna of columnas">
        <th mat-header-cell *matHeaderCellDef> {{columna}} </th>
        <td mat-cell *matCellDef="let elemento"> {{elemento[columna]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="titulosDeColumnas"></tr>
    <tr mat-row *matRowDef="let row; columns: titulosDeColumnas;"></tr>
</table>
<mat-paginator showFirstLastButtons [pageSizeOptions]="[2, 5, 10, 25, 100]"></mat-paginator>